git+https://github.com/SovereignEdgeEU-COGNIT/use-case-3-sem-simulator.git@v1.1.2#egg=phoenixsystems-sem&subdirectory=python_api
git+https://github.com/SovereignEdgeEU-COGNIT/use-case-3-home-energy-management.git@v2.2.1
git+https://github.com/SovereignEdgeEU-COGNIT/device-runtime-py.git@main
pymodbus>=3.11.1
pyserial>=3.5
